*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: bisque;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    padding: 1em;
}

a{
    text-decoration: none;
}